.container {
  width: 100%;
}

.content {
  background-color: #0f0f0f;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentForm {
  max-width: 1024px;
  width: 100%;
  padding: 0 18px 28px;
  margin-top: 58px;
}

.title {
  color: #fff;
  margin-bottom: 8px;
}

.checkboxArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0;
}

.containerCheckboxArea {
  display: flex;
  align-items: center;
  gap: 8px;

  label {
    color: #fff;
    user-select: none;
    line-height: 1;
    display: flex;
    align-items: center;
  }
  
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #018e01;
  margin: 0;
  flex-shrink: 0;
}

.cancelButton {
  background: transparent;
  border: 2px solid #EA3140;
  color: #EA3140;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.cancelButton:hover {
  background: #EA3140;
  color: white;
}

.button {
  width: 100%;
  border: 0;
  border-radius: 4px;

  color: #fff;
  background-color: #3183ff;

  padding: 12px 0;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
}

.taskContainer {
  margin: 34px auto 0 auto;
  padding: 0 18px;
  width: 100%;
  max-width: 1024px;

  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: #0f0f0f;
  }

  h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 14px;
  }
}

.task {
  margin-bottom: 14px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1.5px solid #909090;
  border-radius: 4px;
  padding: 14px;
}

.tagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.tag {
  background-color: #3138ff;
  padding: 2px 6px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 12px;
}

.shareButton {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.taskContent {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;

  p {
    white-space: pre-wrap;
  }
}

.buttonDivision {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonTask{
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Model do Share - FUNDO ESCURO */

.shareModalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.93);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.4s ease;
}

.shareModal {
  background: #ffffff;
  position: relative;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  padding: 24px;
  
  display: flex;
  flex-direction: column;
  gap: 12px;

  animation: scaleIn 0.4s ease;

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  button {
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
  }

  button:hover {
    transform: scale(1.04);
  }
}

.shareModal button:nth-child(3) { background: #c73f32; font-weight: 600; }
.shareModal button:nth-child(4) { background: #1e57ac; font-weight: 600; }
.shareModal button:nth-child(5) { background: #0b7532; font-weight: 600; }
.shareModal button:nth-child(6) { background: #444; font-weight: 600; }

.closeModal {
  position: absolute;
  top: -2px;
  right: -2px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.fadeIn {
  animation: fadeIn 0.2s ease forwards;
}

.fadeOut {
  animation: fadeOut 0.2s ease forwards;
}

.scaleIn {
  animation: scaleIn 0.2s ease forwards;
}

.scaleOut {
  animation: scaleOut 0.2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}