.header {
    width: 100%;
    height: 86px;
    background-color: #0F0F0F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 0 18px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    color: #FFF;
    font-size: 32px;

    span {
        color: #EA3140;
        padding-left: 2px;
    }
}

.link {
    background-color: #F1F1F1;
    color: #0F0F0F;
    padding: 4px 14px;
    border-radius: 4px;
}

.loginButton {
    background: transparent;
    color: #FFF;
    padding: 8px 32px;
    border: 2px solid #FFF;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.4s;
}

.loginButton:hover {
    transform: scale(1.04);
    background-color: #FFF;
    color: #0F0F0F;
    font-weight: bold;
}

.userArea {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 580px) {
    .header {
        height: 130px;
    }
    
    .content {
        flex-direction: column;
        padding: 0 12px;
        gap: 12px;
    }

    .nav {
        gap: 15px;
    }

    .logo {
        font-size: 28px;
    }

    .link {
        padding: 2px 10px;
    }

    .loginButton {
        padding: 6px 18px;
    }

    .avatar {
        width: 32px;
        height: 32px;
    }
}