.container {
    width: 100%;
    max-width: 1024px;
    margin: 40px auto 0 auto;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;

    h1 {
        margin-bottom: 14px;
        text-align: center;
    }
}

.task {
    border: 1.5px solid #909090;
    border-radius: 6px;

    padding: 14px;
    line-height: 150%;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        white-space: pre-wrap;
        width: 100%;
        text-align: justify;
    }
}

.commentsContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0;

    h2 {
        margin: 14px 0;
    }
}

.button {
    width: 100%;
    padding: 12px 0;
    margin-top: 10px;
    
    border: 0;
    border-radius: 6px;
    
    color: #FFF;
    background-color: #0650BE;

    font-size: 18px;

    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #3183FF
}

.span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;

    font-size: 16px;
    font-weight: 600;
}

.comment {
    border: 1.5px solid #9D9D9D;
    border-radius: 6px;
    padding: 14px;
    margin-bottom: 14px;

    p {
        white-space: pre-wrap;
    }
}

.headComment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    .userProfile {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.commentsLabel {
    background-color: #CCC;
    padding: 4px 8px;
    border-radius: 4px;
    user-select: none;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.buttonTrash {
    background: transparent;
    border: none;
    cursor: pointer;
}