.container {
    background-color: #0F0F0F;
    width: 100%;
    height: calc(100vh - 86px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    max-width: 480px;
    object-fit: contain;
    width: auto;
    height: auto;
}

.title {
    color: #FFF;
    text-align: center;
    margin: 28px;
    line-height: 150%;
}

.infoContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    background-color: #FAFAFA;
    padding: 14px 44px;
    border-radius: 4px;
    transition: transform 0.4s;

    span {
        user-select: none;
    }
}

.box:hover {
    transform: scale(1.04);
}

@media (max-width: 580px) {    
    .container {
        height: calc(100vh - 130px);
    }
    
    .hero {
        max-width: 80%;
    }

    .title {
        font-size: 24px;
    }

    .infoContent {
        flex-direction: column;
        gap: 20px;
    }

    .box {
        width: 80%;
        text-align: center;
    }
}